body {
    background-color:black;
}
h1 {
    color:yellow; 
    font-size:60px; 
    background-color:black; 
    text-align:center;
    border: 1px solid black;
    margin-top: 450px;
}
p {
    color:yellow;
    border: 2px solid white;
    padding: 30px;
    margin-top: 1000px;
    text-align: center;
}
pre {
    background-color:tomato;
    text-align: center;
}
